<h1>Edit Article</h1>

<%= form_for :article, url: article_path(@article), method: :put do |f| %>
<div class="field">

	<p>
		<%= f.label :image %><br/>
		<%= f.file_field :image %>
	</p>
	
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :subtext %><br/>
		<%= f.text_field :subtext %>
	</p>

	<p>
		<%= f.label :text %><br/>
		<%= f.rich_text_area :text %>
	</p>

	<p>
	<%= f.submit %> 
	</p>
</div>

<% end %>